.car-details-section {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.car-details-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
}

.car-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.car-info {
    max-width: 600px;
    display: flex;
    align-items: center;
}

.car-info h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.car-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

/* .info {
    padding: 50px;
} */

.rental-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.auth-btn {
    padding: 10px 20px;
    background-color: #d9d9d9;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.auth-btn:hover {
color: #fff;
background-color: #336db8;
}

.auth-btn:disabled {
pointer-events: none;
}

/* slider */
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 700px;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    max-height: 700px;
}
.slide img {
    width: auto;
    height: 100%;
}
.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -350px;
}
.prev, .next {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
}