.car-details-section {
    padding: 50px 20px;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.car-img-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    max-width: 100%;
}

.car-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.car-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.car-info h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.car-info p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.information {
    width: 70%;
}

.reservation {
    width: 30%;
}

.rental-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.rental-form input {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}

.rental-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.rent-btn {
    padding: 10px 20px;
    background-color: #d9d9d9;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.rent-btn:hover {
    color: #fff;
    background-color: #336db8;
}

.rent-btn:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/* slider */
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    max-height: 700px;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    max-height: 700px;
}
.slide img {
    width: auto;
    height: 100%;
}
.navigation {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -350px;
}
.prev, .next {
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
}