.cart-section {
    padding: 50px 20px;
    text-align: center;
}

.cart-section h1 {
    margin-bottom: 50px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px;
}

.cart-table th, .cart-table td {
    padding: 30px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* .cart-table th {
    background-color: #f4f4f4;
} */

.cart-car-image {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.cart-summary {
    padding: 30px;
    margin: 30px 0 30px;
}

.cart-none {
    display: flex;
    flex-direction: column;
}

.checkout-btn {
    padding: 10px 20px;
    background-color: #d9d9d9;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 30px;
    text-decoration: none;
}

.checkout-btn:hover {
    color: #fff;
    background-color: #0056b3;
}

.del-btn {
    padding: 8px 15px;
    background-color: #d9d9d9;
    color: #333;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.del-btn:hover {
    color: #fff;
    background-color: #0056b3;
}
