* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
body, html {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
  height: 100%;
}

.main {
  flex: 1 1 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 1280px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

/* Стили для header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-menu a {
  margin: 0 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #336db8;
}

.auth {
  display: flex;
  gap: 10px;
}

.cart {
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
  
.cart a {
  padding: 0;
}

.cart-btn {
  padding: 0;
  height: 26px;
}
.cart-img {
  height: 24px;
  width: 24px;
}

.register-btn, .profile-btn, .cart-btn {
  padding: 8px 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.register-btn:hover, .profile-btn:hover, .cart-btn:hover {
  color: #336db8;
}

.login-btn, .logout-btn {
  padding: 8px 15px;
  background-color: #d9d9d9;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.login-btn:hover, .logout-btn:hover {
  color: #fff;
  background-color: #336db8;
}


  /* Стили для footer */
footer {
  flex: 0 0 auto;
  background-color: #999999;
  color: #333;
  padding: 20px 20px 0;
  width: 100%;
  max-width: 1280px;
  text-align: center;
  margin-top: 200px
  }

.copy {
  font-size: 12px;
}

.place {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-size: 15px;
  margin: 10px 0;
  text-align: right;
}

/* Стили для иконок социальных сетей */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Эффект увеличения иконок при наведении */
.social-icon img:hover {
  transform: scale(1.2);
}

/* Стили боковой панели профиля */
.profile-sidebar {
  width: 30%;
  /* margin-right: 20px; */
}

.profile-sidebar ul {
  list-style: none;
  padding: 0;
}

.profile-sidebar ul li {
  margin-bottom: 15px;
}

.profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
  background-color: #f5f5f5;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.profile-sidebar ul li a:hover, .profile-sidebar ul li a.active {
  background-color: #336db8;
  color: #fff;
}
