{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/about.css" %}' />
{% endblock %}

{% block context %}
    <section class="welcome-section">
      <h1>О нашей компании</h1>
      <p>Мы супер!</p>
      <p>Вот и всё, что нужно знать :)</p>
    </section>

    <hr align="center" width="500" size="1" color="#336db8" />


    <section class="info-section">
      <h2>Часы работы</h2>
      <div class="information">
        <p>Пн - Пт: с 13:00 до 13:05</p>
        <p>Сб - Вс: Выходной</p>
      </div>
    </section>

    <hr align="center" width="500" size="1" color="#336db8" />

    <section class="map-section">
      <h2>Как нас найти</h2>
      <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A44ed32bc9c4c5eb68b6f0b7bd463b96664059103925d120d955c603d6105eb2d&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
      </div>
    </section>
{% endblock %}
