<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>АрендаRzn</title>
  <link rel="stylesheet" href='{% static "css/global.css" %}' />
  {% block css %} {% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div><a href="{% url 'index' %}"><img src='{% static "/img/logo.png" %}' alt="logo"></a></div>

      <nav class="nav-menu">
        <a href="{% url 'cars:index' %}">Автопарк</a>
        <a href="#services">Услуги</a>
        <a href="#prices">Цены</a>
        <a href="#conditions">Условия</a>
        <a href="#contacts">Контакты</a>
        <a href="{% url 'about' %}">О нас</a>
      </nav>
      <div class="auth">
        {% if user.is_authenticated %}
          <a href="{% url 'users:profile' %}" class="profile-btn">Профиль</a>
          <a href="{% url 'users:logout' %}" class="logout-btn">Выход</a>
        {% else %}
          <a href="{% url 'users:register' %}" class="register-btn">Регистрация</a>
          <a href="{% url 'users:login' %}" class="login-btn">Вход</a>
        {% endif %}
      </div>
    </header>

    <div class="main">
      {% block context %} {% endblock %}
    </div>
    
    <footer>
      <div class="place">
        <div><a href="{% url 'index' %}"><img src='{% static "/img/logo.png" %}' alt="logo"></a></div>
        <div>
          <p class="info">370001, Печальная область, Тоскливый район, город Грусть, проспект Разочарования, дом 13</p>
          <p class="info">Телефон: +7 (999) 999-99-99</p>
        </div>
      </div>
      <div class="social-icons">
        <a href="https://vk.com" target="_blank" class="social-icon vk">
          <img src={% static "img/icons/vkontakte.png" %} alt="VK">
        </a>
        <a href="https://facebook.com" target="_blank" class="social-icon facebook">
          <img src={% static "img/icons/facebook.png" %} alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank" class="social-icon instagram">
          <img src={% static "img/icons/instagram.png" %} alt="Instagram">
        </a>
        <a href="https://twitter.com" target="_blank" class="social-icon twitter">
          <img src={% static "img/icons/twitter.png" %} alt="Twitter">
        </a>
      </div>
      <p class="copy">&copy; 2024 &ensp; ООО “Не ваше дело”. Все права защищены.</p>
    </footer>
  </div>
</body>
</html>