{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/car.css" %}' />
{% endblock %}

{% block context %}
<section class="car-details-section">
    <div class="container">
        <h1>{{ car.brand.name }} {{ car.model }}</h1>
    </div>
    <div class="car-img-container">
        <div class="slider">
            <div class="slides">
                {% for image in car_images %}
                <div class="slide">
                    <img src="{{ image.image.url }}" alt="{{ car.model }}">
                </div>
                {% endfor %}
            </div>
            <div class="navigation">
                <button class="prev" onclick="moveSlides(-1)">&#10094;</button>
                <button class="next" onclick="moveSlides(1)">&#10095;</button>
            </div>
        </div>

    </div>
    <div class="">
        <div class="car-info">
            <div class="informations">
                <div class="conditions">
                    <div class="conditions-header">Условия аренды</div>
                    <div class="conditions-items">
                        <div class="condition-item">
                            <div class="condition-img">
                                <img src="{% static "img/icons/18-dark.png" %}" alt="Возраст">
                            </div>
                            <div class="condition-info">
                                <div>Возраст</div>
                                <div>от 18 лет</div>
                            </div>
                        </div>
                        <div class="condition-item">
                            <div class="condition-img">
                                <img src="{% static "img/icons/vehicle-dark.png" %}" alt="Опыт">
                            </div>
                            <div class="condition-info">
                                <div>Опыт вождения</div>
                                <div>от 3-х лет</div>
                            </div>
                        </div>
                        <a href="#conditions" class="conditions-more">Подробнее</a>
                    </div>
                </div>
                <div class="car-information">
                    <div class="car-information-header">Характеристики</div>
                        <p><strong>Год выпуска:</strong> {{ car.year }}</p>
                        <p><strong>Цена за день:</strong> {{ car.price }} руб</p>
                </div>
            </div>
            <div class="reservation">
                <form method="POST" class="rental-form light-theme" id="rental-form">
                    {% csrf_token %}
                    <label for="{{ form.start_date.id_for_label}}">Дата начала аренды</label>
                    {{ form.start_date }}
                    {{ form.non_field_errors }}
                    {{ form.start_date.errors }}
                    <label for="{{ form.end_date.id_for_label}}">Дата окончания аренды</label>
                    {% if form.end_date.errors%}
                        <div class="error">
                            {{ form.end_date }}
                        </div>
                        {{ form.non_field_errors }}
                        {{ form.end_date.errors }}
                    {% else %}
                    {{ form.end_date }}
                    {% endif %}
                    {% if form.end_date.errors%}
                        <button type="submit" class="rent-btn" id="rent-btn">Забронировать</button>
                    {% else %}
                        <button type="submit" class="rent-btn" id="rent-btn">Забронировать</button>
                    {% endif %}
                        
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="car-description">
            <h3>Описание</h3>
            <p>{{ car.description }}</p>
        </div>
    </div>
</section>
{% endblock %}