{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/cart.css" %}' />
{% endblock %}

{% block context %}
<section class="cart-section">
    <h1>Ваша корзина</h1>

    {% if cart_items %}
    <div class="cart-items">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Автомобиль</th>
                    <th>Цена за день</th>
                    <th>Дней аренды</th>
                    <th>Итого</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>
                        <h3>{{ item.car.brand }} {{ item.car.model }}</h3>
                        <img src="{{ item.car.image.url }}" alt="{{ item.car.model }}" class="cart-car-image">
                    </td>
                    <td>{{ item.car.price }} руб</td>
                    <td>{{ item.total_days }}</td>
                    <td>{{ item.total_price }} руб</td>
                    <td>
                        <a href="{% url 'cars:cart_delete' item.id %}" class="login-btn">удалить</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="cart-summary">
            <h2>Общая стоимость: {{ total_price }} руб</h2>

        </div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="checkout-btn">Оформить аренду</button>
        </form>
        {% else %}
        <div class="cart-none">
            <p>Ваша корзина пуста.</p>
            <a href="{% url 'cars:index' %}" class="checkout-btn">Автопарк</a>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}
