{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/index.css" %}' />
{% endblock %}

{% block context %}
    <section class="welcome-section">
      <h1>Добро пожаловать!</h1>
      <p>Аренда автомобилей в Рязани</p>
      <p>У нас Вы всегда подберёте то, что Вам по душе!</p>
    </section>

    <hr align="center" width="500" size="1" color="#336db8" />

    <section class="services-section">
      <h2>Наши услуги</h2>
      <div class="services-list">
        {% for i in services %}
        <div class="service-item light-theme">
          <h3>{{ i.name }}</h3>
          <p>{{ i.description }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
{% endblock %}