<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>АрендаRzn</title>
  <link rel="stylesheet" href={% static "css/style.css" %} />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="car-rent">
    <header class="header">
      {% comment %} <div class="logo">
        <div class="ellipse"></div>
        <img class="logo-car" src={% static "img/car1-1.png" %} alt="logo">
        <div class="brand-name">АрендаRzn</div>
      </div> {% endcomment %}
      <div><img src={% static "/img/logo.png" %} alt="logo"></div>

      <nav class="nav-menu">
        <a href="#autopark">Автопарк</a>
        <a href="#services">Услуги</a>
        <a href="#prices">Цены</a>
        <a href="#conditions">Условия</a>
        <a href="#contacts">Контакты</a>
        <a href="#about">О нас</a>
      </nav>
      <div class="auth">
        <a href="#register" class="register-btn">Регистрация</a>
        <a href="#login" class="login-btn">Вход</a>
      </div>
    </header>

    <section class="welcome-section">
      <h1>Добро пожаловать!</h1>
      <p>Аренда автомобилей в Рязани</p>
      <p>У нас Вы всегда подберёте то, что Вам по вкусу!</p>
    </section>

    <section class="car-selection">
      <h2>Выберите срок аренды, марку или класс автомобиля</h2>
      <div class="selection-options">
        <div class="overlap">
          <div class="select-button">
            <p>Начало</p>
            <img class="img" src={% static "img/icons/calendar.png" %} />
          </div>
          <div class="select-button">
            <p>Окончание</p>
            <img class="img" src={% static "img/icons/calendar.png" %} />
          </div>
          <div class="select-button">
            <p>Марка</p>
            <img class="img" src={% static "img/icons/down.png" %} />
          </div>
          <div class="select-button">
            <p>Класс</p>
            <img class="img" src={% static "img/icons/down.png" %} />
          </div>
          <div class="select-button">
            <p>Показать</p>
          </div>
        </div>
        <div class="car-cards">
          <div class="car-card">
            <img src={% static "img/cars/car1/car1-1.jpg" %} alt="Car 1" class="car-image">
            <div class="car-info">
              <h3>Car Model 1</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
          <div class="car-card">
            <img src={% static "img/cars/car2/car2-1.jpg" %} alt="Car 2" class="car-image">
            <div class="car-info">
              <h3>Car Model 2</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
          <div class="car-card">
            <img src={% static "img/cars/car3/car3-1.jpg" %} alt="Car 3" class="car-image">
            <div class="car-info">
              <h3>Car Model 3</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
          <div class="car-card">
            <img src={% static "img/cars/car4/car4-1.jpg" %} alt="Car 4" class="car-image">
            <div class="car-info">
              <h3>Car Model 4</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
          <div class="car-card">
            <img src={% static "img/cars/car5/car5-1.jpg" %} alt="Car 5" class="car-image">
            <div class="car-info">
              <h3>Car Model 5</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
          <div class="car-card">
            <img src={% static "img/cars/car6/car6-1.jpg" %} alt="Car 6" class="car-image">
            <div class="car-info">
              <h3>Car Model 6</h3>
              <p>Описание автомобиля: класс, марка, особенности.</p>
            </div>
          </div>
        </div>
        <button id="load-more" class="load-more">Показать ещё</button>
      </div>
    </section>

    <section class="services-section">
      <h2>Наши услуги</h2>
      <div class="services-list">
        <div class="service-item">
          <h3>Фотосессия на фоне авто</h3>
          <p>Организуем профессиональную фотосессию с вашими любимыми автомобилями. Отличный выбор для особых событий или для создания уникального контента в социальных сетях.</p>
        </div>
        <div class="service-item">
          <h3>Аренда авто на мероприятие</h3>
          <p>Идеальное решение для свадьбы, корпоратива или любого другого важного события. Предоставим вам автомобиль, который подчеркнёт вашу важность на мероприятии.</p>
        </div>
        <div class="service-item">
          <h3>Трансфер в аэропорт</h3>
          <p>Удобный и быстрый трансфер в любой аэропорт. Мы заберем вас вовремя и доставим в нужное место с комфортом.</p>
        </div>
        <div class="service-item">
          <h3>Аренда автомобиля с водителем</h3>
          <p>Не хотите беспокоиться о вождении? Возьмите автомобиль вместе с опытным водителем, чтобы расслабиться и наслаждаться поездкой.</p>
        </div>
      </div>
    </section>

    <footer>
      <div class="place">
        <div><img src={% static "/img/logo.png" %} alt="logo"></div>
        <div>
          <p class="info">370001, Печальная область, Тоскливый район, город Грусть, проспект Разочарования, дом 13</p>
          <p class="info">Телефон: +7 (999) 999-99-99</p>
        </div>
      </div>
      <div class="social-icons">
        <a href="https://vk.com" target="_blank" class="social-icon vk">
          <img src={% static "img/icons/vkontakte.png" %} alt="VK">
        </a>
        <a href="https://facebook.com" target="_blank" class="social-icon facebook">
          <img src={% static "img/icons/facebook.png" %} alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank" class="social-icon instagram">
          <img src={% static "img/icons/instagram.png" %} alt="Instagram">
        </a>
        <a href="https://twitter.com" target="_blank" class="social-icon twitter">
          <img src={% static "img/icons/twitter.png" %} alt="Twitter">
        </a>
      </div>
      <p class="copy">&copy; 2024 &ensp; ООО “Не ваше дело”. Все права защищены.</p>
    </footer>
  </div>
</body>
</html>