{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href='{% static "css/rent.css" %}' />
{% endblock %}

{% block context %}
<section class="welcome-section">
    <h1>Аренда автомобилей в Рязани</h1>
  </section>

<section class="filter-section">
    <h2>Фильтр по классу автомобилей</h2>
    <div class="overlap">
      <a href="?class=all{% if selected_brand %}&brand={{ selected_brand }}{% endif %}" class="filter-btn {% if not selected_class or selected_class == 'all' %}active{% endif %}">Все авто</a>
      {% for car_class in car_classes %}
          <a href="?class={{ car_class.name }}{% if selected_brand %}&brand={{ selected_brand }}{% endif %}" class="filter-btn {% if selected_class == car_class.name %}active{% endif %}">
              {{ car_class.name }}
          </a>
      {% endfor %}
    </div>

    <h2>Фильтр по марке автомобиля</h2>
    <div class="overlap">
            <a href="?brand=all{% if selected_class %}&class={{ selected_class }}{% endif %}" class="filter-btn {% if not selected_brand or selected_brand == 'all' %}active{% endif %}">Все марки</a>
            {% for car_brand in car_brands %}
                <a href="?brand={{ car_brand.name }}{% if selected_class %}&class={{ selected_class }}{% endif %}" class="filter-btn {% if selected_brand == car_brand.name %}active{% endif %}">
                    {{ car_brand.name }}
                </a>
            {% endfor %}
    </div>

    {% if cars %}
    <div class="car-cards">
        {% for car in cars %}
        {% if car.is_rented == False %}
        <div class="car-card light-theme">
            <a href="{% url 'cars:page_car' car.id %}">
              <img class="car-image" src="{{ car.image.url }}" alt="{{ car.model }}">
            </a>
            <div class="car-info light-theme">
              <h3>{{ car.brand }} {{ car.model }}</h3>
              <p>Год выпуска: {{ car.year }}</p>
              <p>Цена: {{ car.price }} руб/день</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <div class="car-none">
      <p>Автомобили не найдены.</p>
      <a href="?brand=all" class="load-more">Сбросить фильтр</a>
    </div>
    {% endif %}
    <button id="load-more" class="load-more">Показать ещё</button>
</section>
{% endblock %}