{% extends 'cars/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock %}

{% block context %}
<section class="services-section">
    <h1>{{ title }}</h1>
    <div class="services-list">
        {% for service in services %}
        <div class="service-item">
            <h2>{{ service.name }}</h2>
            <p>{{ service.description }}</p>
        </div>
        {% endfor %}
    </div>

    <hr align="center" width="500" size="1" color="#336db8" />


    <div class="contact-form-section">
        <form method="post" action="{% url 'cars:services' %}" class="contact-form light-theme" id="contact-form">
            {% csrf_token %}
            <h2>Связаться с нами</h2>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
            {{ form.message.label_tag }}
            {{ form.message }}
            <button type="submit" class="btn-submit">Отправить сообщение</button>
        </form>
    </div>
</section>
{% endblock %}
