{% load static %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const themeToggle = document.getElementById("themeToggle");
      const body = document.body;
      var img = document.getElementById('img');
      var cartimg = document.getElementById('cart-img');
      const header = document.querySelector('.header');
      const navMenu = document.querySelector('.nav-menu');
      const auth = document.querySelector('.auth');
      const main = document.querySelector('.main');
      const serviceItems = document.querySelectorAll('.service-item');
      const footer = document.querySelector('.footer');
      const cardItems = document.querySelectorAll('.car-card');
      const infoItems = document.querySelectorAll('.car-info');
  
  
      // Проверяем, есть ли сохранённая тема в localStorage
      const savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
          applyTheme(savedTheme);
          updateImg(savedTheme);
      }
  
      // Добавляем обработчик клика на кнопку переключения темы
      themeToggle.addEventListener("click", function () {
          const currentTheme = body.classList.contains("light-theme") ? "light-theme" : "dark-theme";
          const newTheme = currentTheme === "light-theme" ? "dark-theme" : "light-theme";
  
          // Применяем новую тему ко всем элементам
          applyTheme(newTheme);
  
          // Обновляем текст кнопки
          updateImg(newTheme);
  
          // Сохраняем выбранную тему в localStorage
          localStorage.setItem("theme", newTheme);
      });

      console.log(localStorage);
      
  
      function applyTheme(theme) {
          // Убираем текущие классы и добавляем новые на body, header и footer
          body.classList.remove("light-theme", "dark-theme");
          header.classList.remove("light-theme", "dark-theme");
          footer.classList.remove("light-theme", "dark-theme");
          navMenu.classList.remove("light-theme", "dark-theme");
          auth.classList.remove("light-theme", "dark-theme");
          main.classList.remove("light-theme", "dark-theme");
          for (let index = 0; index < serviceItems.length; index++) {
            const element = serviceItems[index];
            element.classList.remove("light-theme", "dark-theme");
          }
          for (let index = 0; index < cardItems.length; index++) {
            const element = cardItems[index];
            element.classList.remove("light-theme", "dark-theme");
          }
          for (let index = 0; index < infoItems.length; index++) {
            const element = infoItems[index];
            element.classList.remove("light-theme", "dark-theme");
          }
  
          body.classList.add(theme);
          header.classList.add(theme);
          footer.classList.add(theme);
          navMenu.classList.add(theme);
          auth.classList.add(theme);
          main.classList.add(theme);
          for (let index = 0; index < serviceItems.length; index++) {
            const element = serviceItems[index];
            element.classList.add(theme);       
          }
          for (let index = 0; index < cardItems.length; index++) {
            const element = cardItems[index];
            element.classList.add(theme);       
          }
          for (let index = 0; index < infoItems.length; index++) {
            const element = infoItems[index];
            element.classList.add(theme);       
          }
      }
  
  
      function updateImg(theme) {
          if (theme === "dark-theme") {
            img.setAttribute('src', '{% static "img/icons/light.png" %}')
            cartimg.setAttribute('src', '{% static "img/icons/cart-light.png" %}')
          } else {
            img.setAttribute('src', '{% static "img/icons/dark.png" %}')
            cartimg.setAttribute('src', '{% static "img/icons/cart-dark.png" %}')
          }
      }
    });
  
  </script>