{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href='{% static "css/auth.css" %}' />
{% endblock %}

{% block context %}

<section class="auth-section">
  {% comment %} {% if form.errors or messages %}
  <div class="{% if messages %} message {% else %} error {% endif %}">
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% else %}
      {{ form.non_field_errors }}
    {% endif %}
  </div>
  {% endif %} {% endcomment %}
  <h1>Вход</h1>
  <form class="auth-form" action="{% url 'users:login' %}?next={{ next }}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label}}">Имя пользователя</label>
      {{ form.username }}
    </div>
    <div class="form-group password-group">
      <label for="{{ form.password.id_for_label}}">Пароль</label>
      {{ form.password }}
      <span class="toggle-password">
        <img class="img" id="img" alt="Показать пароль" src='{% static "img/icons/eye.png" %}' />
      </span>
    </div>
    <button type="submit" class="auth-btn">Войти</button>
    <p>Нет аккаунта? <a href="{% url 'users:register' %}?next={{ next }}">Зарегистрироваться</a></p>
  </form>
</section>

<script>
	{% comment %} var input = document.getElementById('password'); {% endcomment %}
  var input = document.querySelector('input[name="password"]');
  var img = document.getElementById('img');

  img.addEventListener('click', () => {
    if (input.getAttribute('type') === 'password') {
      input.setAttribute('type', 'text');
      img.setAttribute('src', '{% static "img/icons/eye-hide.png" %}')
    } else {
      input.setAttribute('type', 'password');
      img.setAttribute('src', '{% static "img/icons/eye.png" %}')
    }
  })
</script>

{% endblock %}